
 <div class="bg">
   <div class="login">
  <form action="/login" method="POST" id="form">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password">

    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}
    <br>
    <br>

    <button>Sign in</button>

    <p class="account-message">
      Don't have an account? <a href="/signup" >Sign up</a>
    </p>
  </form>
   </div>

  {{{body}}}
 </div>
