<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/javascripts/script.js'></script>

  </head>
  <body>
    <nav>
      <a href="/login">login</a>
      <a href="/signup">signup</a>
      <a href="/restaurants/create">Create new restaurant</a>
    {{#if user }}
      <a href="/logout">Logout</a>
     {{/if  }} 
    </nav>
    {{{body}}}
 
  </body>
</html>

{{!-- 
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script> --}}