<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <script src='/javascripts/script.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar  navbar-inverse  navbar-fixed-top">
    <div class="container">
    <button type="button" class="navbar-toggle"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    >
    <span class="sr-only"> Toggle navigation</span>
    <span class="icon-bar"> </span>
    <span class="icon-bar"> </span>
    <span class="icon-bar"> </span>
    </button>
    
    <a class="navbar-brand" href="/">IRON EATS</a>
    
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="/login">Loging</a> </li>
          <li class=""><a href="/signup">Signup</a> </li>
        <li> <a href="/logout">Logout</a> </li>
            <l
          </li>
        </ul>
        </div>
    </div>
  </nav>
    <div class="navbar  navbar-inverse navbar-fixed-bottom"> 
      <div class="container">
        <div class="navbar-text pull=left">
        <p> © Ironhack 2018.</p>
      </div>
          
    </div>
    </div>
  </nav>
  {{{body}}}
  </body>
</html>

    
    
    
 

 {{!-- <a href="/login">login</a>
      <a href="/signup">signup</a>
      <a href="/">Home Page</a>
      <a href="/restaurants/create">Create new restaurant</a>
    {{#if user }}
      <a href="/logout">Logout</a>
     {{/if  }}  --}}

