body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.title {
  padding-left: 700px;
  padding-top: 10px; }

#form {
  margin: 30px auto;
  width: 380px; }

#form label {
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%; }

#form button {
  background: black;
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#form button:hover {
  background: #fff;
  color: black;
  transition: .3s ease background; }

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

.container-fluid {
  display: flex;
  align-content: space-between; }

.nav-fill {
  align-content: space-around; }

.item .item-active {
  Width: 800px;
  height: 600px; }

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

body, html {
  height: 100%; }

.bg {
  /* The image used */
  background-image: url("/images/logo1.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.account-message {
  color: white; }

.login {
  padding-top: 250px; }

body, html {
  height: 100%; }

.bg1 {
  /* The image used */
  background-image: url("/images/background1.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.signup {
  padding-top: 250px; }

body, html {
  height: 100%; }

#grad1 {
  height: 800px;
  width: 100%;
  background: linear-gradient(to right, white, aqua);
  /* Standard syntax (must be last) */ }

.details-page {
  padding-left: 600px; }

#grad2 {
  height: 800px;
  width: 100%;
  background: linear-gradient(to right, aqua, white);
  /* Standard syntax (must be last) */ }

.private {
  padding-left: 700px;
  padding-top: 250px; }

#grad3 {
  height: 800px;
  width: 100%;
  background: radial-gradient(#faf8f8, #a7a7a4, #6edfbd);
  /* Standard syntax (must be last) */ }

#grad4 {
  height: 850px;
  width: 100%;
  background: linear-gradient(to right, rgba(243, 238, 227, 0.993), #5b65c0);
  /* Standard syntax (must be last) */ }

.container {
  padding-top: 20px; }

.bg2 {
  /* The image used */
  background-image: url("/images/food.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.create {
  padding-right: 1100px;
  padding-top: 100px;
  font-style: white; }

.bg3 {
  /* The image used */
  background-image: url("/images/patio.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.patio {
  padding-top: 180px;
  padding-left: 800px; }

/*# sourceMappingURL=style.css.map */